<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration status="error">
  <appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="%p: %d{yyyy-MM-dd HH:mm:ss} [%t] %C:%M(%L): %msg%xEx%n"/>
    </Console>
  </appenders>
  <loggers>
    <root level="info">
      <appender-ref ref="Console"/>
    </root>
  </loggers>
</configuration>
