.template {
  display:none;
}

* {
  font-family:Arial;
}

body {
  margin:0;
}

.search_form {
  margin:20px;
  font-size:large;
}

.search_main_field * {
  margin:5px;
}

.advanced_search_options {
  margin:5px;
  display:none;
}

.divider {
  margin:15px 0;
  height:3px;
  background-color:black;
}

.result_list_count {
  display:none;
  margin:20px 50px;
  font-size:large;
}

.result_list {
  margin-top:60px;
  margin-bottom:60px;
  margin:20px 50px;
}

.result {
  margin:20px 0;
}

.result_title {
  font-size:18px;
}

.result_url {
  font-size:14px;
  color:#006621;
}

.paging {
  display:none;
  margin:30px 50px;
  font-size:large;
}
